.Menu {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.Menu_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 5px;
	justify-content: flex-start;
}

.Menu_btn {
	margin-top: 5px;
	margin-right: 5px;
}

.Menu_btn:last-child {
	margin-right: 0;
}
