.SearchField {
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.SearchField_input {
	width: 50%;
    padding: 10px 20px;
    font-size: 1rem;
	outline: none;
	border: none;
	border-radius: 50px;
}

.SearchField_reset-btn {
	margin-left: 10px;
	font-size: 1rem;
	border-radius: 50px;
}