.EventDetails {
	padding: 0 20px;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	width: 60%;
	max-height: 80%;
	overflow: scroll;
	background: #fff;
	-webkit-box-shadow: 0 5px 30px 3px rgba(0,0,0,0.5);
	box-shadow: 0 5px 30px 3px rgba(0,0,0,0.5);
	z-index: 1;
}

.EventDetails_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.EventDetails_price {
	font-size: 1.5rem;
	font-weight: bold;
}

.EventDetails_type {
	font-size: 1em;
	text-align: right;
}

.EventDetails_description {
	font-style: italic;
}

@media only screen and (max-width: 767px) {
	.EventDetails {
		width: 90%;
	}
}