.Event {
	position: relative;
	background: #ececec;
	border: 1px solid #000;
	margin: 5px;
	padding: 10px;
	min-width: 250px;
	min-height: 210px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: background-color 0.5s;
}

.Event:hover {
	background: rgba(236, 236, 236, 0.75);
}

.Event_title {
	font-size: 1.5rem;
	margin: 0 0 10px 0;
	padding: 0 20px 0 0;
}

.Event_description {
	font-size: 1rem;
	height: 80px;
	margin: 0 0 10px 0;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-break: keep-all;
	hyphens: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Event_price {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 1.2rem;
	font-weight: bold;
}

.Event_type {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 0.6em;
	text-align: right;
}

.Event_favourite-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 30px;
	text-align: center;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 1.2rem;
	cursor: pointer;
	user-select: none;
	transition: color 0.5s;
}

.Event_favourite-btn:before {
	display: block;
}

.Event_favourite-btn--inactive:before {
	content: '\2606';
}

.Event_favourite-btn--active:before {
	content: '\2605';
}

.Event_favourite-btn:hover {
	color: #df7373;
}

@media all and (min-width: 768px) {
	.Event {
		flex: 1;
	}
}

@media all and (min-width: 900px) {
	.Event {
		width: 32%;
		flex: none;
	}
}