html,body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: grey;
	color: black;
	position: relative;
}

button {
	padding: 2px 10px;
    font-size: 1rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
	outline: none;
	transition: background-color 0.5s;
	border-radius: 5px;
}

button.active {
	background-color: #5bcfe4;
}

button:hover {
	background-color: #a8e1eb;
}

#root {
	height: 100%;
}

.Events {
	position: relative;
	min-height: 100%;
}

h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}
